Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
python-dotenv==1.0.1
Flask-Cors==4.0.0
marshmallow==3.20.2
flasgger==0.9.7.1
flask-jwt-extended
flask-limiter==3.8.0
pytest==8.3.3
gunicorn==21.2.0